/* Header */
header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100px;
    background-color: #0f0d10;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    display: inline;
}

.header-title {
    font-size: 2em;
    margin-left: 1px;
    padding-left: 10px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

header li {
    color: rgb(252, 223, 63);
}

.header-img img{
    width: 90px;
    height: 90px;
}