ul {
    list-style-type: none;
}

header h1, footer h3 {
    color: rgb(252, 223, 63);
}

header{
    height: 100px;
}

.bgc-black{
    background-color: #0f0d10;
}

main {
    height: calc(100vh - 100px); 
}

li{
    color: gray;
    list-style-type: none;
    padding-bottom: 0.6rem;
}

/* header body */

header h1 {
    font-size: 2rem;
    margin: 0;
    display: inline;
}

div.header-title {
    font-size: 2em;
    margin-left: 1px;
    padding-left: 10px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

header li {
    color: rgb(252, 223, 63);
}

.header-img img{
    width: 90px;
    height: 90px;
}

/* nav */

div.header-nav{
    text-align: center;
    vertical-align: middle;
}

nav, nav ul, nav ul li {
    height: 100%;
    vertical-align: middle;
}

nav ul {
    padding-left: 50px;
    padding-top: 10px;
    font-size: 1.2rem;
}

nav li {
    padding-bottom: 0;
}

nav li a {
    padding-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
}

nav a {
    transition: .2s;
}

nav a:hover{
    color: white;
    border-bottom: white;
    border-bottom: solid;
    transition: .2s;

}


/* Carosello */

#myCarousel img{
    height: 500px;
    object-fit: cover;
}

#myCarousel h2{ 
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e7b042;
}
#myCarousel{
    position: relative;
}

.carousel-inner .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

#myCarousel .carousel-item:first-child {
    position: relative;
}
#myCarousel .carousel-item:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

#myCarousel .carousel-item:first-child h2 {
    z-index: 2;
}

/* Aree di Competenza */

.item{
    padding-top: 30px;
    text-align: center;
}

.item-img{
    width: 50%;
    padding-right: 5%;
}

.item-img img {
    width: 100%;
    height: auto;
}

svg {
    background-color: #171717;
    transform: rotate(180deg);
}

.aree-di-competenza-box{
    padding-top: 20px;
    margin: 35px 0;
    width: 100%;
    background-color: #222024;
    color: white;
    text-align: center;
}

.aree-di-competenza {
    width: 100%;
    background-color: #222024;
    padding: 40px;
    margin-top: 40px;
    text-align: center;
}

.area-di-competenza, .flip-card-back {
    display: inline-block;
    background-color: white;
    width: 250px;
    margin-left: 10px;
    text-align: center;
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.area-di-competenza a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}

.area-di-competenza img{
    padding: 10px;
    width: 150px;
    height: 150px;
}

.aree-di-competenza h3 {
    color: white;
}

.aree-di-competenza {
    display: inline-block;
    padding-bottom: 150px;
}

.flip-card{
    height: 250px;
    display: inline-block;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    left: -10px;
    position: absolute;
    background-color: white ;
    color: black;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    text-align: center;
    font-size: .80rem;
}

  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    display: inline-block;
    height: 250px;
    position: relative;
    text-align: center;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  
   
  .flip-card-front {
    background-color: #fff;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .flip-card {
    margin: 10px;
  }

  div.contact {
    width: 50%;
    padding: 0;
}

div.item-content{
    width: 50%;
}

div.item-content ul {
    padding: 0;
    margin: 0;
}

/* Mappa */

#gmp-map {
    height: 80%;
  }

.maps, .contattaci{
    height: 500px;
    width: 50%;  
}

.contattaci-info{
    height: 75%;
}

.maps {
    height: 400px;
}

/* footer */

footer{
    background-color: #0F0D10;
    height: 280px;
    width: 100%;
}

.link-nav, .link-contatti{
    height: 250px;
    width: 200px;
}

figure{
    height: 80%;
}


 footer img{
    height: 150px;
}

.link-nav ul,.link-contatti ul{
    padding-inline-start: 0;
    padding-left: 10px;
}

#menuToggle{
    display: none;
}


/* menu button */

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

@media (max-width: 1415px) {
    
    header h1 {
        font-size: 1.5rem;
    }

    nav {
        margin-right: 50px;
    }

    .w-25{
        display: none;
    }

}

@media (max-width: 1000px) {
        
    .nav-list{
        display: none;
    }

    #menuToggle{
        display: block;
    }

}
