/* Generics */
html {
    position: fixed;
    height: 100%;
    overflow: hidden;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    width: 100vw; 
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

ul {
    list-style-type: none;
}

header h1, footer h3 {
    color: rgb(252, 223, 63);
}

main {
    height: calc(100vh - 100px); 
    margin-top: 100px;
}

li{
    color: gray;
    list-style-type: none;
    padding-bottom: 0.6rem;
}

svg {
    background-color:  #222024;
    transform: rotate(180deg);
}

#second-svg{
    background-color:  #E3E3E3;
}

/* Divisore */
.divisor img{
    height: 150px;
    border-radius: 50%;
}
.line{
    border-bottom: 5px solid #e7b042;
    width: 200px;
    border-radius: 30%;
}

.divisor{
    display: flex;
}

#divisor-smart, #divisor-smart-contacts{
    display: none;
}

/* Header */
header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100px;
    background-color: #0f0d10;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    display: inline;
}

.header-title {
    font-size: 2em;
    margin-left: 1px;
    padding-left: 10px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

header li {
    color: rgb(252, 223, 63);
}

.header-img img{
    width: 90px;
    height: 90px;
}

/* Nav */
.header-nav{
    text-align: center;
    vertical-align: middle;
}

nav span, nav input {
    display: none;
}

nav, #menu, #menu li {
    display: inline-block;
    height: 100%;
    width: auto;
    vertical-align: middle;
}

#menuToggle {
    height: 100%;
}

#menu {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.2rem;
}

nav li {
    padding-bottom: 0;
    display: inline-block;
}

nav li a {
    padding-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    transition: .2s;
}

nav a:hover{
    color: white;
    border-bottom: white;
    border-bottom: solid;
    transition: .2s;
}

/* Carosello */
#myCarousel img{
    height: 500px;
    object-fit: cover;
}

#myCarousel h2{ 
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e7b042;
}

#myCarousel{
    position: relative;
}

.carousel-inner .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

#myCarousel .carousel-item:first-child {
    position: relative;
}

#myCarousel .carousel-item:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

#myCarousel .carousel-item:first-child h2 {
    z-index: 2;
}

/* chi siamo */
#team{
    padding-bottom: 80px;
}

.we-section{
    width: 50%;
}

.we-section ul {
    padding: 0;
    margin: 0;
}

.item, .aree-di-competenza{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.item-img{
    width: 50%;
    padding-right: 5%;
}

.item-img img {
    width: 100%;
    height: auto;
}

/* Aree di Competenza */
.aree-di-competenza-box, .aree-di-competenza{
    width: 100%;
    background-color: #222024;
    color: white;
    text-align: center;
}

.aree-di-competenza-box {
    padding: 70px 0;
}

.aree-di-competenza h3 {
    color: white;
}

.aree-di-competenza {
    padding: 40px 0;
    margin-bottom: 0;
}

.flip-card {
    display: inline-block;
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    margin: 10px;
}

.flip-card:hover .flip-card-inner, .flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-card-inner {
    display: inline-block;
    height: 250px;
    position: relative;
    text-align: center;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

.flip-card-front, .flip-card-back {
    display: inline-block;
    background-color: white;
    width: 250px;
    text-align: center;
    height: 250px;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: black;
}

.flip-card-back {
    left: -10px;
    position: absolute;
    background-color: white ;
    color: black;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    text-align: center;
    font-size: .80rem;
}

.flip-card-front h4 {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.flip-card-front i{
    margin-top: 51px;
    padding: 10px;
}

.fa-car-burst, .fa-heart-pulse, .fa-house, .fa-people-group, .fa-file-signature {
    font-size: 5rem;
}

.aree-di-competenza p {
    padding: 25px 20px;
}

#doc {
    padding-left: 40px;
}

.flip-card-back span {
    display: block;
    margin-top: 25px;
    font-size: 125%;
    font-weight: bold;
}

.flip-card-back p {
    display: flex;
    align-items: center;
    padding-top: 5px;
    height: 80%;
}

.flip-card-back span.long-card{
    margin-top: 5px;
}

.flip-card-back span.disb{
    margin-bottom: 10px;
}

/* Mappa */
.bg-maps{
    background-color: #E3E3E3;
}

.maps a{
    color: #222024;
}

#gmp-map {
    height: 80%;
  }

.maps, .contattaci{
    height: 500px;
    width: 50%;  
}

.maps {
    height: 400px;
}

/* Informazioni */
.contattaci-info{
    height: 75%;
}

.contattaci a {
    text-decoration: none;
    color: var(--bs-heading-color);
}

#contattaci h4 {
    display: inline-block;
    width: 70%;
    margin-left: 30%;
    padding-bottom: 10px;
}

.fa-bus{
    margin-left: -2px;
}

.fa-square-parking {
    margin-left: 1px;
    margin-right: 28px;
}

/* footer */
footer{
    background-color: #0F0D10;
    height: 280px;
    width: 100%;
}

.link-nav, .link-contatti{
    height: 250px;
    width: 200px;
}

figure{
    height: 80%;
}

footer img{
    height: 150px;
}

footer a {
    text-decoration: none;
}

.link-nav ul,.link-contatti ul{
    padding-inline-start: 0;
}

.link-nav {
    margin-left: 48px;
    padding-left: 24px;
}

@media (max-width: 1415px) {
    nav {
        margin-right: 20px;
    }

    .w-25{
        display: none;
    }
}

@media (max-width: 1000px) { 
    .nav-list {
        display: none;
    }

    .header-title h1 {
        display: none;
    }

    #menuToggle {
       display: block;
       position: absolute;
       top: 40px;
       right: 30px;
       z-index: 2;
       -webkit-user-select: none;
       user-select: none;
    }

    #menuToggle a {
       text-decoration: none;
       color: #232323;
       transition: color 0.3s ease;
       transition:  0.3s ease;
    }

    #menuToggle a:hover {
       background-color:  #e7b042;
       color: #0F0D10;
    }

    #menuToggle input {
       display: block;
       width: 40px;
       height: 32px;
       position: absolute;
       top: -7px;
       left: -5px;
       cursor: pointer;
       opacity: 0;
       z-index: 2;
       -webkit-touch-callout: none;
    }

    #menuToggle span {
       display: block;
       width: 33px;
       height: 4px;
       margin-bottom: 5px;
       position: relative; 
       background:  rgb(252, 223, 63);
       border-radius: 3px;
       z-index: 1;
       transform-origin: 4px 0px;
       transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                   background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                   opacity 0.55s ease;
    }

    #menuToggle span:first-child {
       transform-origin: 0% 0%;
     }

    #menuToggle span:nth-last-child(2) {
       transform-origin: 0% 100%;
     }

    #menuToggle input:checked ~ span {
       opacity: 1;
       transform: rotate(45deg) translate(-2px, -1px);
       background:rgb(252, 223, 63);
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
       opacity: 0;
       transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
       transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
       position: absolute;
       width: 200px;
       margin: -92px 0 0 -135px;
       padding-top: 125px; 
       border-radius: 12px;
       height: auto;
       background: #0F0D10;
       list-style-type: none;
       -webkit-font-smoothing: antialiased;
       transform-origin: 0% 0%;
       transform: translate(100%, 0);
       transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li{
       display: block;
       font-size: 1rem;
    }

    #menu li a {
       color: #e7b042;
       height: 100%;
       width: 100%;
       padding: 20px 0;
       margin: 0;
    }
    
    #menu li a:hover  {
        background-color: #e7b042;;
    }
    
    #menu li:hover a{
        color: #0F0D10;
        border: 0;
    }

    #menu li:last-child a {
       border-bottom-left-radius: 10px;
    }

    nav li a {
        padding: 10px 0;
    }

    #menuToggle input:checked ~ ul {
       transform: none;
    }
}

@media (max-width:992px){
    #divisor-smart-contacts{
        display: flex;
    }

    .contattaci-info{
        height: 100%;
    }
}

@media (max-width:780px){
    #myCarousel{
        display: none;
    }

    .divisor{
        display: none;
    }

    #divisor-smart{
        display: flex;
    }

    #team{
        flex-direction: column;
        padding: 0;
    }

    .we-section{
        padding-top: 25px;
    }

    .item-img{
        padding-right: 0;
        width: 100%;
    }
}

@media (max-width: 780px){
    .link-contatti, .link-nav {
        text-align: center;
        margin: 0;
    }

    #footer-logo {
        width: 100%;
        text-align: center;
    }

    footer {
        height: auto;
    }
}

@media (max-width: 750px) {
    .item-img {
        width: 100%;
    }

    #team .we-section {
        width: 80%;
        margin-left: 4%;
    }
}

@media (max-width: 536px) {
    #link-nav {
        margin-left: 0;
        padding-left: 0;
    }
}
