header h1 {
    font-size: 2rem;
    margin: 0;
    display: inline;
}
#myCarousel img{
    height: 500px;
    object-fit: cover;
}

ul {
    list-style-type: none;
}

header li {
    color: rgb(252, 223, 63);
}

header h1, footer h3 {
    color: rgb(252, 223, 63);
}

header{
    height: 100px;
}

#gmp-map {
    height: 80%;
  }

.maps, .contattaci{
    height: 500px;
    width: 50%;  
}

.contattaci-info{
    height: 75%;}
  .maps{
    height: 400px;
}

nav, nav ul, nav ul li {
    height: 100%;
}

nav ul li {
    vertical-align: middle;
}

nav li a {
    padding-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
}

#myCarousel h2{ 
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e7b042;
}
#myCarousel{
    position: relative;
}

nav li {
    height: 100%;
    padding-bottom: 0;
}

nav a {
    transition: .2s;
}

a:hover{
    color: white;
    border-bottom: white;
    border-bottom: solid;
    transition: .2s;

}

.bgc-black{
    background-color: #0f0d10;
}

.carousel-inner .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

#myCarousel .carousel-item:first-child {
    position: relative;
}
#myCarousel .carousel-item:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

#myCarousel .carousel-item:first-child h2 {
    z-index: 2;
}

div.header-img > img{
    width: 90px;
    height: 90px;
}
main {
     height: calc(100vh - 100px); 
}

div.header-title {
    font-size: 2em;
    margin-left: 1px;
    padding-left: 10px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

div.header-nav{
    text-align: center;
    vertical-align: middle;
}


nav ul {
    height: 100%;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 1.2rem;
}

footer{
    background-color: #0F0D10;
    height: 280px;
    width: 100%;
}

.link-nav, .link-contatti{
    height: 250px;
    width: 200px;
}

figure{
    height: 80%;
}


 footer img{
    height: 150px;
}

.link-nav ul,.link-contatti ul{
    padding-inline-start: 0;
    padding-left: 10px;
}

li{
    color: gray;
    list-style-type: none;
    padding-bottom: 0.6rem;
}


div.item{
    padding-top: 30px;
}

div.item-img{
    width: 50%;
    padding-right: 5%;
}

div.item-img img {
    width: 100%;
    height: auto;
}

div.contact {
    width: 50%;
    padding: 0;
}

div.item-content{
    width: 50%;
}

div.item-content ul {
    padding: 0;
    margin: 0;
}

.aree-di-competenza-box{
    padding-top: 20px;
    width: 100%;
    background-color: #222024;
    color: white;
    text-align: center;
}

div.aree-di-competenza {
    width: 100%;
    background-color: #222024;
    padding: 40px;
    margin-top: 40px;
    text-align: center;
}

div.area-di-competenza, .flip-card-back {
    display: inline-block;
    background-color: white;
    width: 250px;
    margin-left: 10px;
    text-align: center;
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.area-di-competenza a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}

div.area-di-competenza img{
    padding: 10px;
    width: 150px;
    height: 150px;
}

div.aree-di-competenza h3 {
    color: white;
}

div.aree-di-competenza {
    display: inline-block;
    padding-bottom: 150px;
}

.item-card{
    display: inline-block;
}

.flip-card{
    height: 250px;
    display: inline-block;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    left: -10px;
    position: absolute;
    background-color: white ;
    color: black;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    text-align: center;
  }

  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    height: 250px;
    position: relative;
    text-align: center;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  
   
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
